.list-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    //justify-content: center;
    h2{
        width: 100%;
        text-align: start;
    }
}