
.navbar {
    float: left;
    width: 100%;
    box-shadow: 1px 3px 5px grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: lightgrey;
    background-color: #414833;
    a{
        width: 26%;
        height: 1%;
    }
    img {
        width: 25%;
        /* height: 30%;    */
    }
    .categories{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content:center ;
        color: lightgrey;
        font-size: 16px;
        align-items: start;
        p{
            margin-right: -50px;
        }
        ul{
            display: flex;
            li{
                //text-shadow: 1px 1px 15px rgb(217, 255, 0);
                color: lightsalmon;
                justify-content: space-evenly;
                a{
                    list-style: none;
                    text-decoration: none;
                    color: lightsalmon;
                    font-size: 14px;
                }
            }
        }
    }
    p{
        text-shadow: 1px 1px 15px rgb(217, 255, 0);
        font-size: 16px;
    }
    ul {
        list-style: none;
        display: flex;      
        color: lightgrey;
        li {
            margin: 0px 10px;
            color: lightgrey;
            display: flex;
            justify-content: space-evenly;
            button {
                background: none;
                border: none;
                font-size: 12px;
                cursor: pointer;
                text-transform: uppercase;
                color: lightgrey;
                &:hover {
                    //text-decoration:underline;
                    text-shadow: 1px 1px 15px rgb(217, 255, 0);
                    color: lightsalmon;
                }
            }
        }  
    }
}

.cart-widget {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*AGREGADOS HOY 10/08/2022*/

.item-cart-product {
    display: flex;
    max-width: 500px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 5px;
}
.item-cart-product img {
    width: 25%;
}
.item-cart-product img /* + .cart-product__details */ {
    width: 25%;//35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /*  p{
        padding-left: 10px;
        font-size: 12px;
    } */
}

.cart-product__details {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        padding-left: 22px;
        font-size: 14px;
        width: 100%;
    }
}

.item-cart-product .cart-product__details:nth-last-child(2) {
    width: 30%;
    display: flex;
    align-items: center;
}
.cart-product__action {
    width: 10%;
    display: flex;
    align-items: center;
}

button.btn-delete-all {
    margin-right: 10px;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgb(4 4 54);
    cursor: pointer;
    border: 2px solid rgb(4 4 54);
    color: lightgrey;
    font-size: 12px;
    padding: 5px 15px;
    font-weight: bold;
}

button.btn-delete-all:hover {
    background: lightgrey;
    color: rgb(4 4 54);
    font-weight: bold;
}

.btn-empty-cart{
    /* margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
    margin: 15px;
    float: right;    
    background: white;// rgb(4 4 54);
    cursor: pointer;
    border: 1px solid lightgray;
    color: grey;
    font-size: 10px;
    padding: 5px 15px;
    font-weight: bold;
}

.totalAmount{
    //margin-left: 10px;
    margin-right: 10%;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    padding: 5px 15px;
    font-weight: bold;
}

.title-cart-finish{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: rgb(4 4 54);
    text-shadow: 3px 1px 4px rgb(27, 30, 184);
}

.cart-finish {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    .cart-finish-footer{
        display: flex;
        flex-direction: row;
        width: 100%;
        //margin-left: 125px;
    } 
}

.btn-pay {
    margin-right: 10px;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    background:  rgb(4 4 54);
    cursor: pointer;
    border: 2px solid rgb(4 4 54);
    color: lightgrey;
    font-size: 12px;
    padding: 5px 20px;
    font-weight: bold;
    margin-left: 5%;
    &:hover {
        background:  coral;
        font-weight: bold;
        color: rgb(4 4 54);
    }
}