 @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400&display=swap'); 

* {
    box-sizing: border-box;
    font-weight: 300;
    font-family: MuseoModerno;
}

.main-container {
    float: left;
    width: 100%;
    padding: 0 10px;
    display: flex;
    text-shadow: 1px 1px 3px;
    color: rgb(4, 4, 54);
}