 @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400&display=swap'); 

* {
    box-sizing: border-box;
    font-weight: 300;
    font-family: MuseoModerno;
}

.main-container {
    float: left;
    width: 100%;
    padding: 0 10px;
    display: flex;
    text-shadow: 1px 1px 3px;
    color: rgb(4, 4, 54);
}

.container-count{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-count p{
    font-size: 15px;
    padding: 5px;
}

.container-count button{
    font-size: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px grey solid;
}